{% extends "base.html" %}

{% block content %}

<p>this is the user profile page</p>
<h1>{{ user_details.username }}</h1>
<img src="{{ profile_details.image_url }}" alt="{{ user_details.username }}'s profile picture" style="max-width: 200px; max-height: 200px;">

<p>Email: {{ user_details.email }}</p>
<p>Username: {{ user_details.username }}</p>
<a href="{% url 'account_change_password' %}">change password</a>
<a href="{% url 'account_email' %}">Change/Add Email</a>
<p>Bio: {{ profile_details.bio }}</p>
<p>Account created on: {{ user_details.date_joined }}</p>
<p>Last Updated: {{ profile_details.last_updated }}</p>

<h3>Your Identified Lists</h3>
{% if identified_lists %}
    <ul>
        {% for identified in identified_lists %}
            <li>{{ identified.list_name }}</li>
            <ul>
                {% for post in identified.post_id.all %}
                <li>
                    <h3>{{ post.fungi_id}}</h3>
                    <p>{{ post.notes }}</p>
                    <p>{{ post.time}}</p>
                    <p>{{ post.location}}</p>
                    <img src="/media/{{ post.image_url }}" style="max-width: 100px;">
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% else %}
    <p>No identified lists found.</p>
{% endif %}
<h2>My Posts</h2>
<ul>
    {% for post in posts %}
        <li>
            <h3>{{ post.fungi_id}}</h3>
            <p>{{ post.notes }}</p>
            <p>{{ post.time}}</p>
            <p>{{ post.location}}</p>
            <img src="/media/{{ post.image_url }}" style="max-width: 100px;">
        </li>
    {% empty %}
        <li>No posts available.</li>
    {% endfor %}
</ul>

{% endblock %}

{% block posts %}

{% endblock %}